html, body, * {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100%;
    width: 80%;
    margin: 0 10%;
}

.pane {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.pane__column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{   }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
}
/* ============ desktop view .end// ============ */
