@import "general.css";

h3, h4 {
    text-align: center;
}

.feature-container {
    margin: 4ex 0;
}

.cases-container, .offer__info {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.cases-container {
    align-items: center;
}

.offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2ex 0;
}

.offer__info, .offer button {
    padding: 1ex;
    margin: 1ex;
}

.offer__info div {
    margin: 1ex 0;
}

.offer button {
    height: 4ex;
}

#create-loan-offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}